{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %} <br /><br />

<h3>All Companies</h3>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for rw in data %}
  <div class="col">
    <a href="#">
      <div class="card h-55">
        <img
          src="/static/companies/{{rw.CompanyLogo}}"
          class="card-img-top"
          alt="..."
          height="150"
          width="100"
        />
        <div class="card-body">
          <h5 class="card-title">{{ rw.CompanyName }}</h5>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
