{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %} <br /><br />

<div class="container-sm">
  <form
    id="addCompany"
    action="/admin/item"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="itemName" class="form-label">Item Name</label>
      <input
        type="text"
        class="form-control"
        name="itemName"
        value="{{ ItemInfo.ItemName }}"
      />
    </div>
    <div class="mb-3">
      <label for="itemDescription" class="form-label">Item Description</label>
      <input
        type="text"
        class="form-control"
        name="itemDescription"
        value="{{ ItemInfo.ItemDesc }}"
      />
    </div>
    <div class="mb-3">
      <label for="itemIngredient" class="form-label">Item Ingredient</label>
      <textarea type="text" class="form-control" name="itemIngredient">
{{ ItemInfo.ItemIngredient }}</textarea
      >
    </div>
    <div class="mb-3">
      <label for="itemUse" class="form-label">Item Use</label>
      <input
        type="text"
        class="form-control"
        name="itemUse"
        value="{{ ItemInfo.ItemUse }}"
      />
    </div>
    <div class="mb-3">
      <label for="itemDose" class="form-label">Item Dose</label>
      <input
        type="text"
        class="form-control"
        name="itemDose"
        value="{{ ItemInfo.ItemDose }}"
      />
    </div>
    <div class="mb-3">
      <label for="itemPrice" class="form-label">Item Price</label>
      <input
        type="number"
        class="form-control"
        name="itemPrice"
        value="{{ ItemInfo.ItemPrice }}"
      />
    </div>
    <div class="mb-3">
      <label for="itemCompetitor" class="form-label">Item Competitor</label>
      <input
        type="text"
        class="form-control"
        name="itemCompetitor"
        value="{{ ItemInfo.ItemCompetitor }}"
      />
    </div>
    <div class="mb-3">
      <label for="ItemPhoto" class="form-label">Item Photo</label>
      <input class="form-control" name="ItemPhoto" type="file" id="ItemPhoto" />
    </div>
    <div class="mb-3">
      <label for="CompanyName" class="form-label">Company Name</label>
      <select
        name="CompanyName"
        id="CompanyName"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected>....</option>
        {% for rw in companies%}
        <option value="{{rw.id}}">{{rw.CompanyName}}</option>
        {% endfor %}
      </select>
    </div>
    <input type="hidden" name="ItemID" value="{{ ItemInfo.id }}" />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/admin/" class="btn btn-secondary">Back</a>
    <br /><br /><br />
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
{% endblock %}
