{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %} <br /><br />

<div class="container-sm">
  <form
    id="addCompany"
    action="/admin/company"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="Companynametxt" class="form-label">Company Name</label>
      <input
        type="text"
        class="form-control"
        name="Companynametxt"
        value="{{ comp.CompanyName }}"
      />
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Company Logo</label>
      <input
        class="form-control"
        name="companyphoto"
        type="file"
        id="formFile"
      />
    </div>
    <input type="hidden" name="CompanyID" value="{{ comp.id }}" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/admin/" class="btn btn-secondary">Back</a>
    <br /><br /><br />
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
{% endblock %}
