{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %} <br /><br />
<div class="container">
  <h3>Items</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <a href="#">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />

  <h3>Companies</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-55">
        <img
          src="/static/companies/beatswell.jpg"
          class="card-img-top"
          alt="..."
          height="150"
          width="150"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <a href="#">
        <div class="card h-55">
          <img
            src="/static/companies/beatswell.jpg"
            class="card-img-top"
            alt="..."
            height="150"
            width="150"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <div class="card h-55">
        <img
          src="/static/companies/beatswell.jpg"
          class="card-img-top"
          alt="..."
          height="150"
          width="150"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-55">
        <img
          src="/static/companies/beatswell.jpg"
          class="card-img-top"
          alt="..."
          height="150"
          width="150"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-55">
        <img
          src="/static/companies/beatswell.jpg"
          class="card-img-top"
          alt="..."
          height="150"
          width="150"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-55">
        <img
          src="/static/companies/beatswell.jpg"
          class="card-img-top"
          alt="..."
          height="150"
          width="150"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-55">
        <img
          src="/static/companies/beatswell.jpg"
          class="card-img-top"
          alt="..."
          height="150"
          width="150"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
{% endblock %}
