{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
styleblock %} {% endblock %} {% block content %} <br /><br />

<div class="container-sm">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
    <div class="col">
      <img></img>
    </div>
    <div class="col">
        <h2>
            Drug Name
        </h2>
        <h6>Company Name</h6>
        <table class="table caption-top">
  <caption>Information</caption>
  <tbody>
    <tr>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
     <tr>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
     <tr>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
     <tr>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
</div>

{% endblock %}
